/* phan dang nhap*/

.modal {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 166, 166, 0.3);
}

.modal__body {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    z-index: 1;
}


/*form dang ki*/

.form1__container {
    display: none;
    flex-direction: column;
}

.form1 {
    min-width: 400px;
    min-height: 500px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.form1__title {
    color: white;
    position: relative;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: sans-serif;
}


/* Input*/

.form1__form {
    margin-top: 50px;
}

.form1__input {
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 13px;
    border: none;
    border-bottom: 20;
    background-color: rgba(0, 0, 0, 0.5);
}


/* button */

.form1__controller {
    position: static;
    display: flex;
    flex-direction: column;
    align-content: end;
    margin-top: 60px;
}

.ds {
    background-color: rgba(53, 47, 74, 0.943);
    border-radius: 30px;
    width: 300px;
    height: 50px;
    margin: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

.ds:hover {
    background-color: rgba(212, 191, 191, 0.6);
}


/* login form*/

.form2__container {
    flex-direction: column;
}

.form2 {
    min-width: 400px;
    min-height: 500px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.form2__title {
    color: white;
    position: relative;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: sans-serif;
}


/* Input*/

.form2__form {
    margin-top: 50px;
}

.form2__input {
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 13px;
    border: none;
    border-bottom: 20;
    background-color: rgba(0, 0, 0, 0.5);
}


/* button */

.form2__controller {
    position: static;
    display: flex;
    flex-direction: column;
    align-content: end;
    margin-top: 35px;
}

.btn__exit.ds {
    background-color: transparent;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    margin: 5px;
    color: white;
    font-weight: 600;
}

.btn__exit.ds:hover {
    background-color: rgba(252, 4, 4, 0.5);
    ;
}

.qmk {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}