body {
    width: 100%;
    height: 100vh;
    cursor: url("assets/rocket-24.png"), auto;
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    cursor: url('assets/icons8-rocket-32.png'), auto;
    color: aqua;
}