body {
    width: 100%;
    height: 100vh;
    cursor: url("assets/rocket-24.png"), auto;
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    cursor: url('assets/icons8-rocket-32.png'), auto;
    color: aqua;
}

<style>.mycontainer {
    width: 100%;
    overflow: auto;
}

p {
    font-size: 30;
    color: azure;
}

.mycontainer div {
    width: 33%;
    float: left;
}

</style>