* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    height: 100vh;
    width: 100%;
    background: rgb(238, 238, 238);
}

.header {
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(238, 238, 238), rgb(127, 172, 245));
}

.header_title {
    font-family: Quicksand, Helvetica, Arial;
    position: absolute;
    top: 15px;
    left: 50px;
}

.header_history {
    box-shadow: 2px 2px 2px rgba(226, 223, 223, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(226, 223, 223, 0.7);
    position: absolute;
    right: 30px;
    top: 15px;
}

.form-search {
    position: relative;
    padding: 3px;
    border-radius: 10px;
    background: rgba(127, 172, 245, 0.332);
}

.search-icons {
    height: 40px;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    position: absolute;
    background-color: transparent;
}

.search {
    background: transparent;
    height: 40px;
    width: 400px;
    border: none;
    border-bottom: 2px solid rgba(97, 57, 255, 0.197);
    margin-left: 50px;
}

#search_btn {
    font-family: Quicksand, Helvetica, Arial;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    width: 70px;
    background: transparent;
    background-color: rgba(97, 57, 255, 0.356);
    border: none;
    border-radius: 8px;
}

.main {
    width: 100%;
    height: calc(100% - 150px);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    grid-template-columns: 70%;
    grid-template-rows: 200px 100px repeat(2, 1fr);
}

.word .details {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 20px;
}

.tit {
    font-family: Quicksand, Helvetica, Arial;
    font-size: 20px;
}

.details p {
    font-family: Quicksand, Helvetica, Arial;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.meaning .details span {
    font-family: Quicksand, Helvetica, Arial;
    font-size: 15px;
}

.khung {
    background-color: rgba(170, 170, 170, 0.1);
    padding: 20px;
    border-left: 5px solid rgba(235, 167, 235, 0.5);
}

@media only screen and (max-width: 900px) {
    .search {
        width: 200px;
    }
    .header_title {
        top: 5px;
        left: 10px;
        font-size: 70%;
    }
}