* {
    margin: 0;
    padding: 0;
}

.Container {
    width: 100%;
    height: 900px;
    background: rgb(238, 238, 238);
}

.header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(238, 238, 238), rgb(127, 172, 245));
}

.search {
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 50px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}