* {
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.nav h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.language-switch {
    position: absolute;
    right: 10px;
}
.story {
    background-color:  #abacb0;
}
.p1 {
    display: flex;
    margin-bottom: 20px;
}
.p1 img {
    margin-right: 20px;
}
.p1 p {
    font-size: 30px;
    margin: 0;
    padding: 10px;
    text-align: justify;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#description ul li {
    font-size: 20px;
}
#en-btn {
    width: 50px;
}
#vi-btn {
    width: 50px;
}