.body-container {
    width: auto;
    height: 100%;
    flex-direction: column;
    background-image: url();
    background-size: cover;
}


/*header*/

.header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(43, 34, 54, 0.6);
}

.logo {
    overflow: hidden;
    margin-top: 15px;
}


/*search*/

.search__main {
    width: 500px;
    height: 35px;
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
}


/* dang nhap*/

.tk {
    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tk:hover {
    background-color: #555;
    border-radius: 30px;
}

.tk-2 {
    font-weight: 1200;
    color: #f8f8f8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*body main*/

.body-main {
    background-color: antiquewhite;
    margin: 0;
    width: 100%;
    min-height: 800px;
}

.content {
    width: 100vh;
    max-height: 500px;
    /* Đặt chiều cao tối đa là 500px */
    overflow-y: auto;
    /* Kích hoạt thanh cuộn khi nội dung vượt quá */
}


/*menu*/

nav {
    margin-top: 50px;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    background: #ffffff;
    width: calc(100%-250px);
    transition: with 0.2s linear;
}

.menu {
    position: fixed;
    width: 200px;
    padding: 10px 14px;
}

.menu .image-text img {
    width: 40px;
    border-radius: 6px;
}

.menu .text {
    font-size: 13px;
    font-weight: 900;
    margin-left: 19px;
}

.tabar {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: end;
    transition: linear 0.2s;
}

nav.hide {
    width: 40px;
}

.tabar img:hover {
    border-radius: 10px;
    background-color: rgba(170, 166, 171, 0.2);
}

.logo__menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu__column {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li a {
    margin-top: 15px;
    color: #555;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0 12px 12px 0;
}

.menu .menu__icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a:hover {
    background-color: rgba(144, 199, 247, 0.4);
}


/*footer */

.footer {
    display: block;
    width: 100%;
    height: 240px;
    flex-direction: column;
    background-color: rgba(144, 199, 247, 0.4);
}

.footer__top {
    display: flex;
    width: 100%;
    height: 180px;
    align-items: start;
    flex-direction: row;
}

.footer__logo {}

.footer li {
    color: #0a0909;
    font-weight: 900;
    display: block;
    flex-direction: row;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: #2d2828;
    font-size: 15PX;
}

.footer a:hover {
    color: #7167ff;
}

.footer__icons {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.footer__top2 {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__bottom {
    width: 100%;
    height: 60px;
}